/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-discription {
    color: #727272;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.btn-primary {
    width: 180px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}


/* main styles */
main {
    max-width: 1440px;
    max-width: 100%;
    margin: 70px  ;
}

/* teams style */
.team-container {
    display: flex;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    
}

.team-content {
    padding-left: 70px;
    /* padding-right: 20px; */
    
}

.spn-1 {
    width: 468px;
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.spn-2 {
    width: 468px;
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.spn-3 {
    width: 468px;
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.team-description {
    width: 100%;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 15px;
}
.team-tile{
    text-align: center;
}

/* responsive styles */
/* mobile device version */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }
.team-container{
    flex-direction: column-reverse;
}
.team-img-container{
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
}
}

/* tablet or medium devices */

@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav  {
        flex-direction: column;
    }
    .team-container{
        flex-direction: column;
    }
    .btn-second{
        margin-left: 240px;
    }
}
